<<<<<<< HEAD
*
margin 0;
pading 0;

body {
    display: flex;
    justify-items: center;
    align-items: center;
}

#correo{
    color: aquamarine;
    display: flex;
    justify-content: flex-end;
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#datoscontacto{
    height: 30%;
    height: 100%;
    background-color: darksalmon;
>>>>>>> 042ee4be575a8af76fc0a9837481c0abce795f96
}